<html>
    <head>
        <title>Hacker form</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Add yourself below</h1>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('welcome') }}">

                  <label for="yourname">Name:    </label>
                  <input type="text" name="yourname" /><br />

                  <label for="youremail">email: </label>
                   <input type="text" name="youremail" /><br />

                  <label for="domain">Domain:</label>
                  <input type="text" name="domain" /><br />

                  <input type="submit" />
                </form>
            </div>
        </div>
    </body>
</html>
 

