 <html>
    <head>
        <title>registered</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
            </div>
            <div id="content">
                Welcome  <strong>{{name}}</strong>
            </div>
            <div class="title">
        </div>
    </body>
</html>

